<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 创建任务详情类 -->
    <bean id="methodInvoking" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 注入自定义的任务类 -->
        <property name="targetObject" ref="myTask"/>
         <!-- 注入任务类中的方法 -->
        <property name="targetMethod" value="queryAllUser"/>
    </bean>
    <!-- 创建任务时间 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- cron 表达式 -->
        <property name="cronExpression" value="1/2 * * * * ? "/>
        <!-- 任务详情类 -->
        <property name="jobDetail" ref="methodInvoking"/>
    </bean>
    <!-- 创建调度类 -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>
</beans>